.btn-primary {
    border: none;
    background: #0084F8;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    align-items: center;
    color: #FFFFFF;
}
.btn-secondary {
    background-color: #FFFFFF;
    border: 1px solid #0084F8;
    box-sizing: border-box;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    align-items: center;
    color: #0084F8;
}
.btn-disabled {
    border: none;
    background: #C9D6DF;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    align-items: center;
    color: #FFFFFF;
}
.btn-success {
    border: none;
    background: #47C2B1;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    align-items: center;
    color: #FFFFFF;
}

.btn-delete {
    border: none;
    background: #FF8576;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    align-items: center;
    color: #FFFFFF;
}