.modal-frame {
    position: relative;
    width: 395px;
    height: 255px;
    margin: 5px;
}
.modal-rectangle {
    /* Rectangle 2 */
    position: absolute;
    height: 2px;
    left: 0%;
    right: 0%;
    top: 0px;

    /* gradient/b200-d400 */
    background: linear-gradient(83.47deg, #0084F8 9.02%, #001B36 90.81%);
}
.modal-container {
    width: 391px;
    height: 253px;

    /* fill/hard */
    position: absolute;
    left: 0%;
    right: 0%;
    top: 2px;
    bottom: 0%;

    /* primary/white */
    background: #FFFFFF;

    /* secondary/d200 */
    border: 2px solid #C9D6DF;
    display: flex;
    justify-content: center;
}
.title {
    /* Invite teammates */
    position: absolute;
    width: 150px;
    height: 17px;
    left: 48px;
    top: 40px;

    /* label/default */
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;

    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    /* primary/d400 */
    color: #001B36;
}
.modal-container > input {
    width: 295px;
    height: 40px;
    padding-left: 8px;

    /* stroke/hard */
    position: absolute;
    left: 48px;
    right: 0%;
    top: 57px;
    bottom: 0%;

    /* primary/white */
    background: #FFFFFF;

    /* secondary/d200 */
    border: 1px solid #C9D6DF;
    box-sizing: border-box;

    /* body/default */
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
}
.modal-container > input::placeholder {
    /* Enter email address or name */
    position: absolute;
    width: 216px;
    height: 28px;
    left: 8px;
    top: 6px;

    /* body/default */
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;

    /* identical to box height */
    display: flex;
    align-items: center;

    /* secondary/d200 */
    color: #C9D6DF;
}
.add-message {
    background: #FFFFFF;
    border: none;

    /* + Add message */
    position: absolute;
    width: 114px;
    height: 28px;
    left: 48px;
    top: 113px;

    /* body/default */
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;

    /* identical to box height */
    display: flex;
    align-items: center;

    /* primary/b200 */
    color: #0084F8;
}
.copy-button {
    background: #FFFFFF;
    width: 194px;
    height: 40px;

    /* fill/hard */
    position: absolute;
    left: 99px;
    bottom: 40px;

    /* primary/b200 */
    border: 1px solid #0084F8;
    box-sizing: border-box;

    /* body/large */
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    text-align: center;

    /* primary/b200 */
    color: #0084F8;
}