@use '../base/variables' as *;

.home {
    background: $main-bg-color;
    padding-top: 15vh;
    height: 85vh;
    color: burlywood;
    text-align: center;
    
    > .hyperlink {
        color: burlywood;
    }
}