@use '../base/variables' as *;

.home {
    background: map-get($main-bg, 'home');
    padding-top: 15vh;
    height: 85vh;
    color: burlywood;
    text-align: center;
    > .hyperlink {
        color: burlywood;
    }
}