button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
    background-color: #155980;
    width: 160px;
    height: 40px;
    font-size: 24px;
    color: white;
    border: none;
}

.circle {
    position: absolute;
    right: -12px;
    top: -12px;
    background-color: #ef0053;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    visibility: visible;
}