.challenge01 {
    display: grid;
    justify-content: center;
    align-items: center;
}
.button-container {
    display: flex;
    margin: 5px;
}
.rating-container {
    display: flex;
    justify-content: flex-start;
    margin: 5px;
}
.badge-container {
    display: flex;
    margin: 5px; /*Conditional*/
}
