@use '../abstracts/type' as *;

.challenge-2 {
    @include font-template;
}
.section-1 {
    h1 {
        font-size: 32px;
        line-height: 37px;
        text-align: center;
        color: #000000;
    }
    p {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #000000;
    }
}
.section-2 {
    h3 {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #000000;
    }
    p {
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        color: #000000;
    }
}
.section-3 {
    > div:nth-child(1) {
        p {
            font-size: 56px;
            line-height: 66px;
            color: #FFFFFF;
        }
    }
    > div:nth-child(2) {
        p {
            color: #FFFFFF;
            &:nth-child(1) {
                font-weight: bold;
                font-size: 14px;
                line-height: 20px;
            }
            &:nth-child(2) {
                font-weight: normal;
                font-size: 24px;
                line-height: 34px;
            }
        }
    } 
}
.content {
    p {
        color: #000000;
    }
}
.section-4 {
    .description {
        p {
            font-size: 14px;
            line-height: 20px;
        }
        h1 {
            font-size: 48px;
            line-height: 56px;
        }
        .hyperlink {
            text-decoration: none;
            font-size: 18px;
            line-height: 25px;
            color: #FFFFFF;
        }
    }
    .article {
        h3 {
            font-weight: bold;
            font-size: 24px;
            line-height: 34px;
        }
        p {
            font-size: 18px;
            line-height: 25px;
        }
        .hyperlink {
            text-decoration: none;
            color: #000000;
            font-size: 14px;
            line-height: 20px;
        }
    }
}

@media screen and (max-width: 640px) {
    .section-1 {
        p {
            font-size: 16px;
        }
    }
}