$marginSize: 20px;

.challenge01 {
    display: grid;
    justify-content: center;
    align-items: center;
}
.button-container {
    display: flex;
    margin: $marginSize;
}
.rating-container {
    display: flex;
    justify-content: flex-start;
    margin: $marginSize;
}
.badge-container {
    display: flex;
    margin: $marginSize;
}

@media screen and (max-width: 768px) {
    .button-container {
        flex-wrap: wrap;
    }
    .rating-container, .badge-container {
        flex-direction: column;
    }
    .badge-container {
        gap: 25px;
    }
}