/*============================Desktop View===============================*/
/* (min-width: 1025px) */
.section-3 {
    margin-top: 40px;
    padding: 80px 135px;
    box-sizing: border-box;
    background: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.section-3 > div {
    flex: 1;
}
.section-3 > div:nth-child(1) {
    background: #000000;
    padding: 56px 47px;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 66px;
    color: #FFFFFF;
}
.section-3 > div:nth-child(2) {
    background: #888888;
    /* padding: 38px 26px 25px; */
    /* box-sizing: border-box; */
}
.section-3 > div:nth-child(2) > p {
    margin: 38px 25px 0px;
    background: #000000;
    font-family: Roboto;
    font-style: normal;
    color: #FFFFFF;
}
.section-3 > div:nth-child(2) > p:nth-child(1) {
    padding: 12px 23px;
    margin-right: 239px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}
.section-3 > div:nth-child(2) > p:nth-child(2) {
    padding: 26px 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
}
.section-3 > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-3 .content {
    height: 50%;
    padding-left: 47px;
    padding-right: 24px;
    padding-bottom: 41px;
    box-sizing: border-box;
    background: #FFFFFF;
}
.section-3 .content:nth-child(1) {
    margin-bottom: 30px;
}
.content > p {
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    color: #000000;
}
.content > p:nth-child(1) {
    padding-top: 40px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}
.content > p:nth-child(2) {
    padding-top: 17px;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
}
.content > p:nth-child(3) {
    padding-top: 20px;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}

/*============================Tablet View===============================*/
@media screen and (min-width: 641px) and (max-width: 1024px) {
    .section-3 > div:nth-child(1) {
        padding: 20px;
    }
    .section-3 > div:nth-child(3) {
        display: flex;  
    }
} 

/*============================Mobile View===============================*/

