.badge-cloud-container {
    max-width: 350px;
    display: flex;
    flex-wrap: wrap;
}
.badge-cloud {
    width: fit-content;
    height: 28px;
    margin: 4px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    align-items: center;
    text-align: center;
}
.bd-primary {
    background: #0084F8;
    color: #FFFFFF;
    border: 1px solid #0084F8;
}
.bd-secondary {
    background: #FFFFFF;
    color: #0084F8;
    border: 1px solid #0084F8;
}